/* ---------------------------------------------------------------------------
±âº»¸µÅ©
--------------------------------------------------------------------------- */
A:link, A:active, A:visited {color: #8f8d8d; text-decoration: none;}
A:hover {color:#f073ae; text-decoration: none;text-decoration: none;}


/* ---------------------------------------------------------------------------
Top ¸Þ´º
--------------------------------------------------------------------------- */
.navi{font-size:13px; color:#3f3f3f; text-decoration:none; font-weight: bold;}
a.navi:link{font-size: 13x; color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.navi:visited{font-size: 13px;color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.navi:active{font-size: 13px;color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.navi:hover{font-size: 13px;color:#c93279;text-decoration:none;font-weight: bold;}

.global { width:250px; height:13; padding-right:10px;}

.main_color  { background:#f073ae; }


/* ---------------------------------------------------------------------------
¸ÞÀÎ ÄÁÅÙÃ÷ °ü·Ã
--------------------------------------------------------------------------- */
/* ¸ÞÀÎ °øÁö»çÇ× */
.notice_line { height:24px; background:url(../images/lib/main_board/dotline.gif) bottom repeat-x;}
.notice_teb {border-bottom:3 solid #f073ae; }

.notice{font-size: 11px;color:#8f8d8d;text-decoration:none;}
a.notice:link{font-size: 11px;color:#8f8d8d;text-decoration:none;}
a.notice:visited{font-size: 11px;color:#8f8d8d;text-decoration:none;}
a.notice:active{font-size: 11px;color:#8f8d8d;text-decoration:none;}
a.notice:hover{font-size: 11px;color:#f073ae;text-decoration:none;}

/* ¸ÞÀÎ °øÁö»çÇ× teb */
.teb_bg_on	{width:77px; height:27px; background:url(../images/lib/main_board/notice_bg_on.gif) no-repeat; text-align:center; padding-top:5px;}
.teb_on{font-size: 11px;color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.teb_on:link{font-size: 11px;color:#3f3f3f;text-decoration:none;font-weight: bold;	letter-spacing:-1px;}
a.teb_on:visited{font-size: 11px;color:#3f3f3f;text-decoration:none;font-weight: bold;letter-spacing:-1px;}
a.teb_on:active{font-size: 11px;color:#3f3f3f;text-decoration:none;font-weight: bold;letter-spacing:-1px;}
a.teb_on:hover{font-size: 11px;color:#3f3f3f;text-decoration:none;font-weight: bold;letter-spacing:-1px;}

.teb_bg_off	{width:77px; height:27px; background:url(../images/lib/main_board/notice_bg_off.gif) no-repeat; text-align:center; padding-top:5px;}
.teb_off{font-size: 11px;color:#ffffff;text-decoration:none;font-weight: bold;letter-spacing:-1px;}
a.teb_off:link{font-size: 11px;color:#ffffff;text-decoration:none;font-weight: bold;letter-spacing:-1px;}
a.teb_off:visited{font-size: 11px;color:#ffffff;text-decoration:none;font-weight: bold;letter-spacing:-1px;}
a.teb_off:active{font-size: 11px;color:#ffffff;text-decoration:none;font-weight: bold;letter-spacing:-1px;;}
a.teb_off:hover{font-size: 11px;color:#ffffff;text-decoration:none;font-weight: bold;letter-spacing:-1px;}


/* ¸ÞÀÎ Æ÷Åä°¶·¯¸® */
.gallery{font-size: 11px;color:#f073ae;text-decoration:none;font-weight: bold;}
a.gallery:link{font-size: 11px;color:#f073ae;text-decoration:none;font-weight: bold;}
a.gallery:visited{font-size: 11px;color:#f073ae;text-decoration:none;font-weight: bold;}
a.gallery:active{font-size: 11px;color:#f073ae;text-decoration:none;font-weight: bold;}
a.gallery:hover{font-size: 11px;color:#f073ae;text-decoration:underline;font-weight: bold;}

/* ¸ÞÀÎ ÇÐ»çÀÏÁ¤ */
.schedule_tit {font-size: 11px; color:#3c95b7; font-weight: bold;}

table.schedule { text-align:center;font-size: 11px;border-collapse: collapse; }
table.schedule td { border-top: 1px solid #e2e2e2; line-height: 15px; font-size: 11px;}

/* Äü¸µÅ© */
.quick_line {border-top:1 solid #e2e2e2;}


/* ---------------------------------------------------------------------------
¼­ºê°ü·Ã
--------------------------------------------------------------------------- */
/* ¼­ºê Left ¸Þ´º*/
.left_line { height:35px; border-bottom:1 solid #e2e2e2; padding-left:10}

.left{font-size: 13px;color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.left:link{font-size: 13x; color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.lefti:visited{font-size: 13px;color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.left:active{font-size: 13px;color:#3f3f3f;text-decoration:none;font-weight: bold;}
a.left:hover{font-size: 13px;color:#c93279;text-decoration:none;font-weight: bold;}

/* ¼­ºê Å¸ÀÌÆ²¹Ù */
.title_bar { border-top:3px solid #f1a5c9; border-bottom:3px solid #f1a5c9;}

/* ¼­ºê ÄÁÅÙÃ÷ */
.content_box { border-left:3px solid #f2f2f2; border-right:3px solid #f2f2f2;}

.font_s_location {font-size: 11px; color:#c93279;}
.font_tit_b {font-size: 12px; color:#c93279;font-weight: bold;}
.font_tit2_b {font-size: 12px; color:#f073ae; font-weight: bold;}

